@model TurniptheBeetMKE.Models.Vendor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPromotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPromotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptsOnlineOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptsOnlineOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
