@model TurnipTheBeetMKE.Models.Manager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSurvey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSurvey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
